ul{
list-style-type: none;
}
#root{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: blue;
  color: aquamarine;

  width: 270px;
}

#root:hover{
  background-color: red;
  color: white;
}

